<html>
    <head>
        <meta charset="utf-8">
        <title>AngularJS Succinctly</title>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.js"></script>
        <link rel="stylesheet" href="css/app.css" />
    </head>

    <body ng-app="MyApp">
        <h1>Testando serviços</h1>

        <div ng-controller="MyCtrl">
            <input type="text" ng-model="searchTerm" placeholder="Search term">
            <button ng-click="search()">Search</button>
            <ul ng-repeat="tweet in searchResult.results">
                <li>{{tweet.text}}</li>
            </ul>
        </div>

        <script src="lib/angular/angular.js"></script>
        <script src="lib/angular/angular-resource.js"></script>
        <script src="js/controllers.js"></script>
    </body>
</html>
